.DS_Store
*.log
data
analysis/characterization_development/test_*
analysis/characterization_development/Scenario_5_Revised_Run
data
characterization_example
__pycache__
analysis/sample_duration/old_variance_results
